.form-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;
    background-image: url("../images/backg.jpg");

    background-size:cover ;
}
.form-container form{
    padding: 20px;
    text-align: center;
    border-radius: 10px ;
    background-color:rgba(238, 245, 246, 0.649) ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}



.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
}
.form-container input,.form-container select{
    width: 90%;
    padding: 10px 20px;
    margin: 8px 0px;
    border-radius: 5px;
    border: none;

}
.form-container .form-btn{
    background: #fbd0fb;
    color: crimson;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 20px;

}
.form-container .form-btn:hover{
    background: crimson;
    color: #fbd0fb;

}
.navbar-nav {
  display: flex;
  justify-content: flex-start; /* Aligns items to the left */
  width: 100%;
}

.navbar-nav .admin-item {
  margin-left: auto; /* Pushes the Admin item to the right */
}
